
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div ng-controller="homeController as vm">

        <form name="newCriminalForm">
            <label>Name:</label> <input class="form-control" 
                                        ng-minlength="10" 
                                        ng-maxlength="100" name="name" 
                                        ng-model="vm.newCriminal.Name" />
            <div ng-show="newCriminalForm.name.$error.minlength">Tye to get rid of me.</div>
            <label>Descrition:</label> <input class="form-control" ng-model="vm.newCriminal.Description" />
            <label>Reward:</label> <input ng-required="" name="reward" class="form-control"
       ng-model="vm.newCriminal.Reward" />
            <button style="margin:20px" class="btn-info" type="submit" ng-click="vm.addNewCriminal()">Add new criminal</button>
</form>
        <br />

        <div ng-repeat="criminal in vm.criminals">
            <div>Number: {{$index}}</div>
            <span style="font-weight:bold;margin-right:20px;" ng-bind="criminal.Name"></span>
            <button ng-click="vm.deleteCriminal(criminal.ID)">X</button>
            <br/>
            <div ng-bind="criminal.Description"></div> <br />
            <div ng-bind="'Reward for me is ' + criminal.Reward"></div>
            <br />
        </div>


    </div>
